@font-face {
  font-family: 'OptimusPrinceps';
  src: url("../fonts/OptimusPrinceps.eot");
  src: url("../fonts/OptimusPrinceps.eot?#iefix") format('embedded-opentype'), url("../fonts/OptimusPrinceps.woff") format('woff'), url("../fonts/OptimusPrinceps.ttf") format('truetype'), url("../fonts/OptimusPrinceps.svg#OptimusPrinceps.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Serif JP', serif;
  /* font-family: 'OptimusPrinceps', 'Noto Serif JP', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #787879; */
  color: #444;
  margin: 0;
  text-align: center;
  font-size: 2.5vh;
  line-height: 1.4em;
}

/* codesponsor is back! */
#codefund_ad {
  margin-top: 18px;
  text-align: center;
}
#cf_ad { margin: 0 auto; }
#cf_ad .cf-wrapper {
  margin: 0 auto;
  max-width: 330px;
  display: block;
  padding: 20px 15px 0 15px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  font-family: system, "Helvetica Neue", Helvetica, Arial;
}
#cf_ad .cf-wrapper a { color: #fff; }
#cf_ad .cf-powered-by img {
  display: block;
}

img { border: none; }

h1 { font-size: 2.5em; }

h1, h2, h3, h4, strong {
  font-weight: 200;
  line-height: 1em;

  color: inherit;
  font-family: 'OptimusPrinceps', 'Noto Serif JP', Arial;
  text-transform: uppercase;
}

h1 small {
  margin-top: 0.5em;
  display: block;
  font-size: 2.5vh;
}

h3 { line-height: 1.2em; }

.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2.4em;
}

.flex h3 {
  text-align: left;
}

.flex > div {
  flex: 1;
}

pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  text-align: left;
}

code {
  border-radius: 4px;
  padding: 1em !important;
  margin-right: 1em;
  margin-bottom: 2em;
  /* white-space: nowrap; */
}

em { color: #787879; }
p { word-spacing: 0.05em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Header / Hero
 */
header {
  /* font-family: OptimusPrinceps, serif; */
  /* background: url("../images/header.jpg"); */
  background: url("../images/header-new.jpg");
  background-position: right;
  background-size: cover;
  padding: 14vh 0 6vh 0;
  height: 100vh;
  color: #fff;
}

header h1 {
  background: -webkit-linear-gradient(45deg, #959595, #fff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

header .logo {
  width: 280px;
  margin: 1em 0 3em 0;
}

header ul.platforms {
  list-style: none;
}
header ul.platforms li { display: inline-block; }
header ul.platforms li a {
  position: relative;
  display: inline-block;
  padding: 0.5em;
  width: 84px;
  height: 84px;
  opacity: 0.6;
  transition: opacity 0.5s, transform 0.5s;
}

header ul.platforms li a span {
  color: #959595;
  font-size: 0.8em;
  position: absolute;
  bottom: -1.4em;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 0.5s, transform 0.5s;
}

header ul.platforms li a img {
  height: 100%;
}

header ul.platforms li a:hover {
  opacity: 1;
  transform: translateY(-2px);
}

header ul.platforms li a:hover span {
  opacity: 1;
  transform: translateY(0);
}

header ul.buttons {
  margin: 3em 0 5em 0;
}

ul.buttons {
  list-style: none;
}

ul.buttons li {
  position: relative;
  display: inline-block;
  margin: 0 0.2em;
}

ul.buttons li a {
  position: relative;
  font-family: 'OptimusPrinceps';
  /* background: #000; */
  text-decoration: none;
  /* text-transform: uppercase; */
  /* border: 2px solid #fff; */
  padding: 0.7em 1em;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid #fff;
  white-space: nowrap;

  -webkit-box-shadow: 0px 3px 1px 0 #fff;
  -moz-box-shadow: 0px 3px 1px 0 #fff;
  box-shadow: 0px 3px 1px 0 #fff;

  transition: box-shadow 0.2s cubic-bezier(0.33, 1, 0.68, 1),
              transform 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

ul.buttons li a.contrast {
  color: inherit;
  background: #7540f0;
  border-color: #7540f0;

  -webkit-box-shadow: 0px 3px 0px 0 #581de2;
  -moz-box-shadow: 0px 3px 0px 0 #581de2;
  box-shadow: 0px 3px 0px 0 #581de2;
}

#community ul.buttons { margin-top: 2em; }

section.support ul.buttons { margin-top: 2em; }
section.support ul.buttons a { color: #fff; }
section.support img { border-radius: 1.3em; }

ul.buttons li a:hover {
  transform: translateY(3px);
  background: #fff;
  color: #000;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ul.buttons li a.contrast:hover {
  background: #581de2;
  border-color: #581de2;
  color: #fff;
}

/* ul.buttons li a:hover .rect {
  right: -7px;
  bottom: -7px;
}

ul.buttons .rect {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -8px;
  bottom: -8px;
}

.contrast .rect .r1, .contrast .rect .r2, .contrast .rect .r3, .contrast .rect .r4 {
  background: #7540f0;
}

.rect .r1, .rect .r2, .rect .r3, .rect .r4 {
  position: absolute;
  background: #fff;
}

.rect .r1 { width: 2px; height: 6px; bottom: 0; left: 0; }
.rect .r2 { height: 2px; bottom: 0; left: 0; width: 100%; }
.rect .r3 { width: 2px; top: 0; height: 100%; right: 0; }
.rect .r4 { width: 6px; height: 2px; right: 0; top: 0; } */


/**
 * Navigation
 */
nav {
  position: fixed;
  z-index: 1;
  text-align: left;
  top: 0;
  left: 0;
  right: 0;
  padding: 2vh 4vw;
  width: 80vw;
  margin: 0 auto;
  color: #fff;
  background: #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* background: rgba(0, 0, 0, 0.9); */
  font-size: 0.8em !important;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.33, 1, 0.68, 1);

  -webkit-box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.75);

}

nav > a { align-self: center; }

nav.visible {
  opacity: 1;
  transform: translateY(0);
}

nav img {
  width: 10vw;
}

nav ul {
  display: inline-block;
  padding: 4px;
  margin-left: auto;
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  padding: 0.5em;
}

nav li a:hover {
  text-decoration: underline;
}

nav ul li svg {
  position: relative;
  top: 2px;
  left: 2px;
}

a.button  {
  cursor: pointer;
  color: #fff;
  background: #282828;
  text-decoration: none;
  display: inline-block;
  padding: 1em !important;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 4px;
}
a.button:hover {
  background-color: #7540f0 !important;
}

/* FOOTER */
footer {
  padding: 12vh 4vh 20vh 4vh;
  font-size: 0.8em;
}

footer p {
  text-align: center;
}

footer ul {
  vertical-align: top;
  width: 20vw;
  display: inline-block;
  list-style: none;
  text-align: left;
  margin-bottom: 2em;
}

footer ul li { list-style: none; }
footer ul li strong { font-weight: 600; }
footer ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0;
  opacity: 0.75;
}
footer ul li a:hover {
  /* text-decoration: underline; */
  opacity: 1;
}

/*
 * General / Re-usable
 */

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}


p { margin: 2vh 0 2vh 0; }
p.small { font-size: 0.8em; }

.inner {
  margin: 0 auto;
  width: 900px;
}

div.row { display: block; }

div.row .column {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

section {
  padding: 16vh 4vw;
}

section.contrast, footer.contrast {
  color: #fff;
  background: #282828;
  -moz-box-shadow: inset 0 0 2.5em #000000;
  -webkit-box-shadow: inset 0 0 2.5em #000000;
  box-shadow: inset 0 0 2.5em #000000;
}

section.contrast h1,
section.contrast h2,
section.contrast h3 {
  color: #ccc;
}

section.headline {
  margin: 4vh 0;
  font-size: 1.5em;
  line-height: 1.7em;
  color: #282828;
}

footer.high-contrast, section.high-contrast {
  /* background: #04ddd4; */
  color: #fff;
  background: #5f2fce; /* #7540f0 */
}

section .projects {
  margin-bottom: 8vh;
  display: block;
}

section .projects > a {
  border: 4px solid #787879;
  padding: 0;
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

section .projects > a img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin: 0;
}

section .projects > a:hover {
  border-color: #fff;
}

/*
 * Features
 */
ul.features {
  margin-top: 2em;
  display: inline-block;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

ul.features > li svg {
  color: #fff;
  height: 4em;
  width: 4em;
  margin-bottom: 0.5em;
}

ul.features > li {
  width: 21vw;
  padding: 1em;
  margin: 0 10px;
  margin-bottom: 1em;
}

ul.features > li p {
  font-size: 0.9em;
}


/**
 * Sponsors
 */
section.sponsors {
  padding: 8vh 4vw;
}

section.sponsors h2 {
  color: #fff;

}
section.sponsors a {
  display: inline-block;
  border-radius: 6px;
  transition: background-color 0.2s ease-out, transform 0.2s ease-out;
}

section.sponsors a:active {
  position: relative;
  top: 4px;
  border-bottom: none !important;
}

section.sponsors a:hover {
  transform: translateY(-1px);
}

section.sponsors a:hover img {
  filter: grayscale(0);
}

section.sponsors a img {
  width: 160px;
  height: auto;
  margin: 1em;
  filter: grayscale(90%);
  transition: filter 0.2s ease-out;
}

/*
 * Showcase
 */
section#showcase {
  padding-left: 0;
  padding-right: 0;
}

.showcase-nav {
  position: relative;
}

.showcase-nav > button {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 0;
  outline: none;
  transition: background-color 0.2s;
  font-size: 2em;
  z-index: 999;
  cursor: pointer;

  position: absolute;
  top: 136px;
  /* width: 6vw;
  height: 6vw; */
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.showcase-nav > button:hover { background-color: rgba(0, 0, 0, 1); }

.showcase-nav .left {
  left: 1vw;
  /* border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; */
}

.showcase-nav .right {
  right: 1vw;
  /* border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; */
}

/* end of showcase navigation */

ul.showcase {
  display: inline-block;
  list-style: none;
  font-family: 'Noto Serif JP', serif;
}

ul.showcase li {
  display: inline-block;
  list-style: none;
  /* padding: 0.4em; */
  line-height: 0;
}

ul.showcase li span {
  display: block;
  background: #282828;
  padding: 1.6em 4px 1.3em 4px;
  color: #d8d8d8;

  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */

  -webkit-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.75) inset;
  box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.75) inset;
}

ul.showcase li small {
  display: block;
  margin-top: 23px;
  font-size: 0.75em;
}

ul.showcase li > a {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;

  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */

  /* -webkit-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75); */
}

ul.showcase li > a:active {
  top: 2px;
}

ul.showcase li > a::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  content: '';
  transition: background-color 0.2s;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

ul.showcase li > a:hover::before {
  background: rgba(0,0,0,0);
}

/**
 * Community!
 */
#community h1 svg {
  height: 2em;
}

/* #mc_embed_signup {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #282828;
  color: #d8d8d8;
  z-index: 999;
  padding: 1em;
  font-size: 0.8em;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s ease-out;
}

#mc_embed_signup.visible {
  opacity: 1;
  transform: translateY(0);
}

#mc_embed_signup input[type=email] {
  padding: 1em;
  width: 200px;
  border: 0;
  margin: 0 0.5em;
}

#mc_embed_signup input[type=submit] {
  padding: 1em;
  border: 0;
} */

/**
 * Media queries
 */
@media only screen and (max-width: 1000px) {
  .inner {
    width: 480px;
  }
}

@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  ul.features > li {
    width: 40vw;
  }

  div.row .column {
    display: block;
    width: 100%;
  }

  div.row .column img {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  header {
    padding: 20vh 6vh 6vh 6vh;
  }

  .inner {
    width: 100%;
  }

  section {
    padding: 6vh 1vh;
  }

  ul.features > li {
    width: 100% !important;
  }

  ul.showcase li {
    width: 100%;
  }
  ul.showcase li a {
    width: 100%;
  }
}

/**
 * MOGJ
 */

.mogj section {
  padding: 15vh 10vw;
}

.mogj .inner {
  width: auto;
}

.prefered-solution h3 {
  margin-top: 2em;
  color: #fff;
}


/**
 * MOGJ
 */
body.logos-and-trademark section.header h1 {
  padding: 2em 0 0.2em 0;
}

body.logos-and-trademark section:not(.header) h1 {
  margin-bottom: 0.2em;
}

body.logos-and-trademark section img {
  display: inline-block;
  height: 130px;
  margin: 2em 1em;
  padding: 2em;
  border-radius: 0.3em;
}

body.logos-and-trademark section.contrast img {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.75);
  box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.75);
}

body.logos-and-trademark section:not(.contrast) img {
  border: 1px solid #282828;
  -webkit-box-shadow: 0px 2px 3px 0 #ccc;
  -moz-box-shadow: 0px 2px 3px 0 #ccc;
  box-shadow: 0px 2px 3px 0 #ccc;
}

body.logos-and-trademark section a img {
  transform: translateY(0);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

body.logos-and-trademark section a:hover img {
  transform: translateY(1px);
  -webkit-box-shadow: 0 0 0 0 #ccc;
  -moz-box-shadow: 0 0 0 0 #ccc;
  box-shadow: 0 0 0 0 #ccc;
}
