@font-face
  font-family 'OptimusPrinceps'
  src url('../fonts/OptimusPrinceps.eot')
  src url('../fonts/OptimusPrinceps.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OptimusPrinceps.woff') format('woff'),
       url('../fonts/OptimusPrinceps.ttf') format('truetype'),
       url('../fonts/OptimusPrinceps.svg#OptimusPrinceps.svg') format('svg')
  font-weight normal
  font-style normal

