// font faces
// $body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
// $logo-font = 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
// $code-font = 'Roboto Mono', Monaco, courier, monospace

$body-font = OptimusPrinceps, Arial, sans-serif
$logo-font = OptimusPrinceps, Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
$dark   = #4e5054
$medium = #4e5054
$light  = #787879
$green  = #4e5054
$border = #616266
$codebg = #f8f8f8
$red = #ff6666

$radius = 2px
